<!--start页尾-->
<div class="footer">
	<div class="wp">
    

      
      
<ul class="footerlink">
        	<li class="f_1">
            	<h3>二手车服务</h3>
                <a href="__APP__/car/" target="_blank">我要买车</a>
		        <!--<a href="__APP__/special/" target="_blank">平行进口车</a>-->
                <a href="{:C('WEB_BASE_URL')}customer/sellcar/" target="_blank">我要卖车</a>
                <a href="{:C('WEB_BASE_URL')}customer/customized/" target="_blank">我要订车</a>
            </li>
            <li class="f_2">
            	<h3>捷和承诺</h3>
                <a href="#" target="_blank">3天包退</a>
                <a href="#" target="_blank">7天包换</a>
                <a href="#" target="_blank">2万公里</a>
                <a href="#" target="_blank">一年保修</a>
                <a href="#" target="_blank">7天可退换</a>
            </li>
            <li class="f_3">
            	<h3>关于捷和</h3>
                <a href="{:C('WEB_BASE_URL')}page/about.html" target="_blank">关于捷和</a>
                <a href="{:C('WEB_BASE_URL')}contact/" target="_blank">联系我们</a>
                <a href="#" target="_blank">资深团队</a>
                <a href="#" target="_blank">经营理念</a>
                <a href="{:C('WEB_BASE_URL')}join/" target="_blank">招商加盟</a>
                <a href="{:C('WEB_BASE_URL')}news/" target="_blank">公司新闻</a>
                <a href="#" target="_blank">招贤纳士</a>
            </li>
            <li class="f_4">
            	<h3>关注捷和</h3>
                <div>
                    <span><img alt="捷和微信二微码"src="/public/images/erweima.png"></span>
                </div>
                <p>扫描二维码，随时随地与捷和亲密接触，精彩活动、劲爆优惠触手可及！</p>
            </li>
            <li class="f_5">
			    <h3></h3>
			    <div>
				<p>CopyRight © 2015 All Rights Reserved
				<a href="http://www.jh100.com">捷和</a>汽车连锁服务有限公司
				www.jh100.com  版权所有 
				<a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">粤ICP备15027253-1</a></p>
<p><script src="http://s95.cnzz.com/z_stat.php?id=1256399296&web_id=1256399296" language="JavaScript"></script></p>
                </div>
            </li>  
            
        </ul>
		<div class="clearfix"></div>
		
    <div class="media-reports">
        <ul>
          <li><h1>合作网站：</h1></li>
		  <volist name="friendLink" id="vo">
          <li><a href="http://{$vo.site_url}" title="http://{$vo.title}" target="_blank">{$vo.title}</a></li>
          </volist>
        </ul>
        
      </div>
      <div class="clearfix"></div>
    </div>
    
</div>
<!--end页尾-->

<script>(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7ecbb4cb334ad0e101a161e2acf81899";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7ecbb4cb334ad0e101a161e2acf81899' type='text/javascript'%3E%3C/script%3E"));
</script>