<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=9" /><title>
	捷和二手车联盟,诚信加盟,专业,简单,可靠
</title><meta name="keywords" content="&lt;%=k.keywords %>" />
<meta name="description" content="&lt;%=k.description %>" />
<link href="{:C('WEB_BASE_URL')}public/join/webcss/style.css" rel="stylesheet" />
    <script src="{:C('WEB_BASE_URL')}public/join/WebJs/jquery-1.8.1.min.js"></script>
    <script src="{:C('WEB_BASE_URL')}public/join/WebJs/jquery.lazyload.js"></script>
    
    <script type="text/javascript">
        var jm = 1;
        $(function () {
            $("img").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
</head>
<body>
    <div class="warp">
        <div id="div1">
        <ul class="jmfy">
            <li style="width:214px;cursor:pointer;" onclick="javascript:window.location.href='/';"></li>
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
            <li><a href="__APP__/join/" style="float: left;">联盟首页</a></li>
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
            <li><a href="__APP__/join/about/" style="float: left;">了解捷和</a></li>
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
            <li><a href="__APP__/join/super/" style="float: left;">平台优势</a></li>
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
            <li><a href="__APP__/join/resource/" style="float: left;">资源优势</a></li>
            
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
            <li><a href="__APP__/join/contact/" style="float: left;">联盟咨询</a></li>
            <li style="width:6px;height:47px;background:url({:C('WEB_BASE_URL')}public/join/webimages/fenge.png) center no-repeat;"></li>
        </ul>
        </div>
        <div>
    <div style="background: url({:C('WEB_BASE_URL')}public/join/webimages/bodypng.png) repeat; padding: 0">
        <div style="width: 1024px; margin: 0 auto; background-color: #ffffff; cursor: pointer;">
            <div style="height:10px;"></div>
            
    <img class="lazy" src="{:C('WEB_BASE_URL')}public/join/webimages/defaultbody.jpg" data-original="{:C('WEB_BASE_URL')}public/join/webimages/bodypngpt1.png" style="height: 468px; width: 1024px;" />
    <img class="lazy" src="{:C('WEB_BASE_URL')}public/join/webimages/defaultbody.jpg" data-original="{:C('WEB_BASE_URL')}public/join/webimages/bodypngpt2.png" style="height: 984px; width: 1024px;margin-top:-3px;" />
    <img class="lazy" src="{:C('WEB_BASE_URL')}public/join/webimages/defaultbody.jpg" data-original="{:C('WEB_BASE_URL')}public/join/webimages/bodypngpt3.png" style="height: 1295px; width: 1024px;" />
    <div style="background: url({:C('WEB_BASE_URL')}public/join/webimages/bodypngfg.png) no-repeat top; height: 4px; width: 1024px;"></div>
    <img class="lazy" src="{:C('WEB_BASE_URL')}public/join/webimages/defaultbody.jpg" data-original="{:C('WEB_BASE_URL')}public/join/webimages/bodypngpt4.png" style="height: 1270px; width: 1024px;" />
    
    <script type="text/javascript">
        jm = 2;
    </script>

        </div>
        <div style="margin-left:12%;background-color:#ffffff;width:1024px" class="bdsharebuttonbox"><a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a><a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a><a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a><a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a><a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a></div>
        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
        <div style="background:url({:C('WEB_BASE_URL')}public/join/webimages/mainbotex.png) bottom;height:300px;">
            <div style="height:135px;width: 1024px;margin: 0 auto;background-color:#ffffff;"></div>
            <div style="width: 1024px;margin: 0 auto; background:url({:C('WEB_BASE_URL')}public/join/webimages/mainbot.jpg) center no-repeat; height:165px;"></div>
        </div>

    </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".jmfy li a").eq(jm).css("color", "#fadb23").css("background", "url({:C('WEB_BASE_URL')}public/join/webimages/daohangliang.png) no-repeat center");
            $(".jmfy li a").not($(".jmfy li a").eq(jm)).hover(
                function () { $(this).css("color", "#fadb23"); },
                function () { $(this).css("color", "#fff"); }
            );
        })
    </script>
   
              
  <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7ecbb4cb334ad0e101a161e2acf81899' type='text/javascript'%3E%3C/script%3E")) </script>            
</body>
      <div style="display:none">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7ecbb4cb334ad0e101a161e2acf81899' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</html>
