<!doctype html>
<!--[if lte IE 9]>
<html class="lte9 no-js demo">
<![endif]-->
<!--[if gt IE 9]>
<!-->
<html class="no-js demo">
<!--<![endif]-->
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit">
<title>二手车加盟</title>
<meta name="description" content="">
<link rel="alternate icon" type="image/png" href="{:C('WEB_BASE_URL')}public/assets/i/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="./assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="{:C('WEB_BASE_URL')}public/assets/css/amazeui.min.css">
<link rel="stylesheet" href="{:C('WEB_BASE_URL')}public/assets/css/amaze.min.css">
<link rel="canonical" href="http://amazeui.org/widgets/menu/offcanvas1/0?_ver=2.x"/>
<script src="{:C('WEB_BASE_URL')}public/assets/js/jquery.min.js"></script>

<script src="{:C('WEB_BASE_URL')}public/assets/js/handlebars.min.js"></script>
<script src="{:C('WEB_BASE_URL')}public/assets/js/amazeui.min.js"></script>
</head>
<body>
    <div class="page pg-demo">
        <header data-am-widget="header" class="am-header am-header-default am-header-fixed" class="demo-bar">
                <div class="am-header-left am-header-nav">
                     <a href="#doc-oc-menu" class=""></a>
				</div>
                <h1 class="am-header-title">捷和诚邀联盟</h1>   
                <div id="demo-view" data-backend-compiled>
					<nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas>
                        <a href="javascript: void(0)" class="am-menu-toggle">
                             <i class="am-menu-toggle-icon am-icon-bars"></i>
	                    </a>
                        <div class="am-offcanvas">
                            <div class="am-offcanvas-bar">
                                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                                    <ul class="nav navbar-nav">
                                        <ul class="am-menu-nav am-avg-sm-1">
                                             <li><a href="#joinactive" >捷和二手车加盟</a></li>
                                             <li><a href="#joinabout" >了解捷和加盟</a></li>
                                             <li><a href="#joinservice" >加盟平台优势</a></li>
                                             <li><a href="#jionzyys" >加盟资源优势</a></li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</nav>
                    
                </div>
        </header>
  
        <figure data-am-widget="figure" class="am am-figure am-figure-default "  data-am-figure="{  pureview: 'true' }"> 
            <div id="joinactive" >
   			            <img src="{:C('WEB_BASE_URL')}public/assets/img/二手车加盟.jpg" > 
			<div>
            <div id="joinabout" class="demo-bar" class="home-section"><h1>了解捷和加盟</h1></div>
			
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/了解捷和1.jpg" >
                        <p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市捷和汽车贸易连锁有限公司简称(捷和二手车) 成立于2002年， 是全中国最放心的二手车经销商。 专注“宝马、奔驰、奥迪、保时捷、大众、 路虎等6大中高档国际品牌名车的专收、专销和专修业务，并有着对外推广、辅导、培训的专业能力。 目前除了深圳总部外，在郑州、成都、 长沙、 南京、湛江等城市均设有营业网点，旗下网点高级展厅高达上万平米。</br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过多年发展和不懈努力， 捷和二手车的服务基于 “不断提高客户满意度” 理念从而不断的完善，已逐步获得汽车行业及服务区域广大消费者的衷心认可和广泛欢迎。</br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为二手车行业的顶尖企业之一，捷和二手车秉承“专业、简单、可靠”的理念， 强调规范经营、创新发展，从而衍生出了“3A-AUTO”、“3721”的现代化专业售后服务理念。同时，捷和通过多年的科学管理和积累，已打造出一支经验丰富的集收购、评估、整备、 销售及售后等于一体的专业技术服务团队，以及不断自我完善的管理制度。</br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;捷和二手车是全中国最放心的二手车连锁经销商，主营奔驰、宝马、保时捷、奥迪、大众、陆虎等各类中高档国际名车的专收、专销、专修业务，并有着对外专业推广、辅导、培训的专业能力。</br>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;捷和二手车秉承“专业、简单、可靠”的理念，强调规范经营、不断创新和发展，培养出一支经验丰富的集收购、评估、整备、销售及售后于一体的专业服务团队。打造3A Auto质量标准，为客户提供高品质的汽车与服务。</br>
                         <p align="center" color="#0e90d2" size="18">捷和人正不断努力，为最终成为行业第一的目标而奋斗。</p>
                         </p>
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/了解捷和2.jpg" >
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/了解捷和3.jpg" >
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/了解捷和4.jpg" > 
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/了解捷和5.jpg" > 
				
            <div name="joinservice" class="demo-bar" class="home-section"><h1 >加盟平台优势</h1> </div>	
			
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势1.jpg" >
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势2.jpg" >
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势3.jpg" >
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势4.jpg" >
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势5.jpg" >
                         <img src="{:C('WEB_BASE_URL')}public/assets/img/平台优势6.jpg" >
		   
            <div id="jionzyys" class="demo-bar" class="home-section" ><h1 >加盟资源优势</h1></div>	
			
                             <img src="{:C('WEB_BASE_URL')}public/assets/img/资源优势1.jpg" > 
                        <h1>中国历年二手车销量平稳增长</h1>
                             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着我国汽车市场新车销量和保有量的持续增长，汽车市场格局以及一些主流大城市对新车购买的限制，大量二手车源源不断流入市场，从某种意义上讲，与新车相对的二手车交易实际上已经成为另一个汽车市场的晴雨表。二手车市场将呈现高速增长趋势，预计到2015年，我国将成为世界上第二大二手车市场国家，仅次于美国。</p>  
                             <img src="{:C('WEB_BASE_URL')}public/assets/img/资源优势2.jpg" > 
                        <h1>二手车市场的盛景预测</h1>
                             <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据LMC Automotive公司日前发布的数据：2013年全球轻型车累计销量为84,272,207辆，2012年同期81,215,379辆，同比增长3.8%。其中：中国累计销量为 21,934,109辆，2012年同期19,213,601辆，同比增长14.2%，中国占全球净增量的26%。可以肯定的是，随着商务部对你促进绿色循环消费的推动，二手车的市场地位将进一步提升，二手车的市场风向标作用也将进一步得到体现。</p> 
                        <img src="{:C('WEB_BASE_URL')}public/assets/img/资源优势3.jpg" >
					
        </figure>
	</div>		

  
  
 </body>
 
 </html>